*{
    background-color: #FFD93D;
    font-family: 'Lilita One', cursive;
    font-size: 35px;
}

body{ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
}

.cocina{
    width: 150px;
    height: 150px;
    border-radius: 10px;    
}

.line{
    border-color: yellowgreen;
}

.no{
    border-color: yellowgreen;
}

.foods{
    text-align: center;
}
 
.boton1, .boton2,.boton3 {
    width: 500px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    
}
.boton1:hover{

    background-color: rgb(63, 95, 95);
}
a{text-decoration: none;}

a:hover{

background-color: rgb(12, 52, 52);
}


.boton2:hover{

    background-color: rgb(30, 89, 89);
}
a{
    text-decoration: none;

}
a:hover{

background-color: rgb(81, 138, 138);
}

.boton3:hover{

    background-color: rgb(30, 89, 89);
}
a{
    text-decoration: none;

}
a:hover{

background-color: rgb(81, 138, 138);
}